<div class="contact-wthree pt-lg-5" id="contact">
        <div class="container py-md-5 py-4">
            <div class="title-desc text-left pb-3">
                <h3 class="main-title-w3pvt  text-capitalize">contact</h3>
                <p>Explore it all. The sky is the limit!</p>
            </div>
            <div class="row py-lg-5 py-sm-4">
                <div class="col-lg-12">
                    <div class="w3_pvt-contact-top">
                        <h2>get in touch </h2>
                        <ul class="d-flex header-wthreelayouts pt-0 flex-column">
                            <li>
                                <span class="fa fa-home" data-blast="color"></span>
                                <p class="d-inline">1234k Avenue,Block-4,Canada.</p>
                            </li>
                            <li class="my-3">
                                <span class="fa fa-envelope-open" data-blast="color"></span>
                                <a href="mailto:example@email.com" class="text-secondary">info@example.com</a>
                            </li>
                            <li>
                                <span class="fa fa-phone" data-blast="color"></span>
                                <p class="d-inline">+456 123 7890</p>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="col-lg-12 mt-4">
                        <!-- register form grid -->
                        <div class="register-top1">
                            <form action="#" method="post" class="register-wthree">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-3 pl-lg-0">
                                            <label>
                                                Full name
                                            </label>
                                            <input class="form-control" type="text" placeholder="Johnson" name="email" required="" data-blast="borderColor">
                                        </div>
                                        <div class="col-lg-3 my-lg-0 my-4">
                                            <label>
                                                Email
                                            </label>
                                            <input class="form-control" type="email" placeholder="example@email.com" name="email" required="" data-blast="borderColor">
                                        </div>
                                        <div class="col-lg-3">
                                            <label>
                                                Mobile
                                            </label>
                                            <input class="form-control" type="text" placeholder="xxxx xxxxx" name="email" required="" data-blast="borderColor">
                                        </div>
                                        <div class="col-lg-3 d-flex align-items-end pr-lg-0 mt-lg-0 mt-4">
                                            <button type="submit" data-blast="bgColor" class="btn btn-w3_pvt btn-block w-100 text-white font-weight-bold text-uppercase bg-theme">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--  //register form grid ends here -->
                    </div>
                </div>
            </div>
        </div>
        <!-- map -->
        <div class="map p-2">
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.3016003504645!2d77.06972011457447!3d28.500572296793024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d196dd557600b%3A0x9d4d1908b3f87bc1!2sMetaDesign+Solutions+-+Software+Development+Company!5e0!3m2!1sen!2sin!4v1545333069628 allowfullscreen data-blast="borderColor"></iframe> -->
        </div>
        <!--// map-->
    </div>