<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <h1>
            <a class="navbar-brand text-white" href="#/home">
                Trips
            </a>
        </h1>
        <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto text-center">
                <li class="nav-item active  mr-lg-3 mt-lg-0 mt-sm-3">
                    <a class="nav-link" href="" data-blast="color">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item  mr-lg-3 mt-lg-0 mt-3">
                    <a class="nav-link scroll" href="#about">About</a>
                </li>
                <li class="nav-item dropdown mr-lg-3 mt-lg-0 mt-3">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item scroll" href="#services">services</a>
                        <a class="dropdown-item scroll" href="#plans">pricing</a>
                        <a class="dropdown-item scroll" href="#team">team</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item scroll" href="#portfolio">portfolio</a>
                        <a class="dropdown-item scroll" href="#posts">latest posts</a>
                    </div>
                </li>
                <li class="nav-item  mt-lg-0 mt-3">
                    <a class="nav-link scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>