<section class="py-lg-5 py-4" id="plans">
        <div class="container py-md-5">
            <div class="title-desc text-right pb-sm-3">
                <h3 class="main-title-w3pvt  text-capitalize">packages</h3>
                <p>Explore it all. The sky is the limit!</p>
            </div>
            <div class="row price-row">
                <div class="col-lg-4 col-sm-6 column mb-lg-0 mb-4">
                    <div class="box" data-blast="borderColor">
                        <div class="title">
                            <i class="fa fa-paper-plane" data-blast="color"></i>
                            <h5 data-blast="color">Basic</h5>
                        </div>
                        <div class="price">
                            <h4><sup>$</sup>800</h4>
                        </div>
                        <div class="option">
                            <ul>
                                <li><i class="fa fa-check"></i> 50 Gb Space</li>
                                <li><i class="fa fa-check"></i> 5 Domain Names</li>
                                <li><i class="fa fa-check"></i> 20 Email Address</li>
                                <li><i class="fa fa-paper-times"></i> Live Support</li>
                            </ul>
                        </div>
                        <button type="button" class="btn w3ls-btn bg-theme  d-block" data-toggle="modal" aria-pressed="false" data-target="#exampleModal" data-blast="bgColor">
                            book now
                        </button>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 column mb-lg-0 mb-4">
                    <div class="box" data-blast="borderColor">
                        <div class="title">
                            <i class="fa fa-plane" data-blast="color"></i>
                            <h5 data-blast="color">Standard</h5>
                        </div>
                        <div class="price">
                            <h4><sup>$</sup>1200</h4>
                        </div>
                        <div class="option">
                            <ul>
                                <li><i class="fa fa-check"></i> 10 Gb Space</li>
                                <li><i class="fa fa-check"></i> 3 Domain Names</li>
                                <li><i class="fa fa-check"></i> Unlimiteds Email Address</li>
                                <li><i class="fa fa-check"></i> Live Support</li>
                            </ul>
                        </div>
                        <button type="button" class="btn w3ls-btn bg-theme  d-block" data-toggle="modal" aria-pressed="false" data-target="#exampleModal" data-blast="bgColor">
                            book now
                        </button>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6  mx-auto mt-lg-0 mt-4 column">
                    <div class="box" data-blast="borderColor">
                        <div class="title">
                            <i class="fa fa-rocket" data-blast="color"></i>
                            <h5 data-blast="color">Premium</h5>
                        </div>
                        <div class="price">
                            <h4><sup>$</sup>3000</h4>
                        </div>
                        <div class="option">
                            <ul>
                                <li><i class="fa fa-check"></i> Unlimited Gb Space</li>
                                <li><i class="fa fa-check"></i> 30 Domain Names</li>
                                <li><i class="fa fa-check"></i> Unlimited Email Address</li>
                                <li><i class="fa fa-check"></i> Live Support</li>
                            </ul>
                        </div>
                        <button type="button" class="btn w3ls-btn bg-theme  d-block" data-toggle="modal" aria-pressed="false" data-target="#exampleModal" data-blast="bgColor">
                            book now
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>