/* gallery */
.agile_gallery_grids {
	padding: 0 2em;
}

.demo>li {
    list-style-type: none;
    padding: 5px;
}
/*jquery.picEyes*/
.picshade {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100% !important;
	background-color: #000;
	opacity: 0.91;
	filter: alpha(opacity=91);
	z-index: 99;
	display: none;
}

.pictures_eyes_close {
	position: fixed;
	top: 30px;
	right: 30px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../images/close.png) no-repeat;
	z-index: 100;
	display: none;
}

.pictures_eyes {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 199;
	display: none;
}

.pictures_eyes_in {
	position: relative;
	text-align: center;
}

.pictures_eyes_in img {
	max-height: 500px;
	max-width: 700px;
}

.pictures_eyes_in .prev,
.pictures_eyes_in .next {
	position: absolute;
	top: 50%;
	width: 51px;
	height: 51px;
	cursor: pointer;
}

.pictures_eyes_in .prev {
	left: 35px;
	background: url(../images/prev.png) no-repeat;
}

.pictures_eyes_in .next {
	right: 35px;
	background: url(../images/next.png) no-repeat;
}

.pictures_eyes_indicators {
	position: fixed;
	left: 0;
	bottom: 15px;
	width: 100%;
	text-align: center;
	z-index: 299;
}

.pictures_eyes_indicators a {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 6px 3px 0 3px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 2px #000;
	filter: alpha(opacity=50);
	opacity: 0.5;
	overflow: hidden;
}

.pictures_eyes_indicators img {
	height: 50px;
}

.pictures_eyes_indicators .current {
	filter: alpha(opacity=100);
	opacity: 1;
}

.gallery-grid1 {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.pictures_eyes_in {
	position: relative;
	text-align: center;
}

.pictures_eyes_in img {
	width: 100%;
}

/* //gallery */